.game-view {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  width: 100vw;
}

.game-content {
  flex: 1;
  overflow-y: auto;
}

.game-content h1 {
  margin-bottom: 2rem;
  text-align: center;
} 